.leftPane{
    flex: 2;
}

.leftPainContainer{
    padding: 20px;
}
.leftPainMenu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftPainMenuItem{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}
.leftMenuText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.leftPainIcons{
    margin-right: 20px;
}

.pagePic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit:cover;
}

.pagesOfwatched{
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 10px;
    color: rgb(96, 100, 100);
}
.PageList{
    padding: 0;
    margin: 0;
}

.pageListItem{
 display: flex;
 align-items: center;
 margin-bottom: 15px;
 margin-top: 10px;   
}

.PageName{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}