
.post{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.14); 
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.14);
    margin-left: 30px 0;
    margin-left: 10px;
    border-radius: 10px;
}
.postImage{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
.postTop{
    margin-top: 10px;
    margin-left: 7px;
    display: flex;
    align-items: center;
}
.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postTime{
    font-size: 10px;
}


.postCenter{

}

.postedImage{
    width: 98%;
    height: 90%;
    background-size: cover;
    margin-left: 5px;
}